<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiforest.cloud.upms.admin.mapper.SysUserMapper">
	<resultMap id="sysUserMap" type="com.aiforest.cloud.upms.common.entity.SysUser">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="phone" property="phone"/>
		<result column="avatar" property="avatar"/>
		<result column="wx_openid" property="wxOpenid"/>
		<result column="qq_openid" property="qqOpenid"/>
		<result column="ucreate_time" property="createTime"/>
		<result column="uupdate_time" property="updateTime"/>
		<result column="lock_flag" property="lockFlag"/>
		<result column="udel_flag" property="delFlag"/>
		<result column="organ_id" property="organId"/>
		<result column="tenant_id" property="tenantId"/>
	</resultMap>

	<resultMap id="baseResultMap" type="com.aiforest.cloud.upms.common.vo.UserVO">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="phone" property="phone"/>
		<result column="avatar" property="avatar"/>
		<result column="wx_openid" property="wxOpenid"/>
		<result column="qq_openid" property="qqOpenid"/>
		<result column="ucreate_time" property="createTime"/>
		<result column="uupdate_time" property="updateTime"/>
		<result column="lock_flag" property="lockFlag"/>
		<result column="udel_flag" property="delFlag"/>
		<result column="organ_id" property="organId"/>
		<result column="tenant_id" property="tenantId"/>
		<result column="organName" property="organName"/>
		<collection property="roleIds" ofType="java.lang.String"
					select="com.aiforest.cloud.upms.admin.mapper.SysRoleMapper.listRoleIdsByUserId" column="id">
		</collection>
	</resultMap>

	<!-- userVo结果集 -->
	<resultMap id="userVoResultMap" type="com.aiforest.cloud.upms.common.vo.UserVO">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="email" property="email"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="phone" property="phone"/>
		<result column="avatar" property="avatar"/>
		<result column="wx_openid" property="wxOpenid"/>
		<result column="qq_openid" property="qqOpenid"/>
		<result column="ucreate_time" property="createTime"/>
		<result column="uupdate_time" property="updateTime"/>
		<result column="lock_flag" property="lockFlag"/>
		<result column="udel_flag" property="delFlag"/>
		<result column="organ_id" property="organId"/>
		<result column="tenant_id" property="tenantId"/>
		<result column="organName" property="organName"/>
		<collection property="roleList" ofType="com.aiforest.cloud.upms.common.entity.SysRole">
			<id column="id" property="id"/>
			<result column="role_name" property="roleName"/>
			<result column="role_code" property="roleCode"/>
			<result column="role_desc" property="roleDesc"/>
			<result column="rcreate_time" property="createTime"/>
			<result column="rupdate_time" property="updateTime"/>
		</collection>
	</resultMap>

	<sql id="userRoleSql">
		sys_user.id,
		sys_user.username,
		sys_user.email,
		sys_user.`password`,
		sys_user.salt,
		sys_user.phone,
		sys_user.avatar,
		sys_user.wx_openid,
		sys_user.qq_openid,
		sys_user.organ_id,
		sys_user.create_time AS ucreate_time,
		sys_user.update_time AS uupdate_time,
		sys_user.del_flag AS udel_flag,
		sys_user.lock_flag AS lock_flag,
		sys_user.organ_id,
		sys_user.tenant_id,
		r.id,
		r.role_name,
		r.role_code,
		r.role_desc,
		r.create_time AS rcreate_time,
		r.update_time AS rupdate_time
	</sql>

	<sql id="userRoleOrganSql">
		sys_user.id,
		sys_user.username,
		sys_user.email,
		sys_user.`password`,
		sys_user.salt,
		sys_user.phone,
		sys_user.avatar,
		sys_user.wx_openid,
		sys_user.qq_openid,
		sys_user.create_time AS ucreate_time,
		sys_user.update_time AS uupdate_time,
		sys_user.del_flag AS udel_flag,
		sys_user.lock_flag AS lock_flag,
		sys_user.tenant_id,
		r.id,
		r.role_name,
		r.role_code,
		r.role_desc,
		r.create_time AS rcreate_time,
		r.update_time AS rupdate_time,
		d.name AS organName,
		d.id AS organId
    </sql>

	<select id="getByNoTenant" resultMap="sysUserMap">
		SELECT
			sys_user.id,
			sys_user.username,
			sys_user.email,
			sys_user.`password`,
			sys_user.salt,
			sys_user.phone,
			sys_user.avatar,
			sys_user.wx_openid,
			sys_user.qq_openid,
			sys_user.organ_id,
			sys_user.create_time AS ucreate_time,
			sys_user.update_time AS uupdate_time,
			sys_user.del_flag AS udel_flag,
			sys_user.lock_flag AS lock_flag,
			sys_user.organ_id,
			sys_user.tenant_id
		FROM
			sys_user sys_user
		<where>
			<if test="username != null and username != ''">
				and sys_user.username = #{username}
			</if>
			<if test="email != null and email != ''">
				and sys_user.email = #{email}
			</if>
			<if test="phone != null and phone != ''">
				and sys_user.phone = #{phone}
			</if>
		</where>
	</select>

	<select id="getUserVoById" resultMap="userVoResultMap">
		SELECT
		<include refid="userRoleOrganSql"/>
		FROM
		sys_user sys_user
		LEFT JOIN sys_user_role AS ur ON ur.user_id = sys_user.id
		LEFT JOIN sys_role AS r ON r.id = ur.role_id
		LEFT JOIN sys_organ AS d ON d.id = sys_user.organ_id
		WHERE
		sys_user.id = #{id}
	</select>

	<select id="getUserVosPage" resultMap="baseResultMap">
		SELECT
		sys_user.id,
		sys_user.username,
		sys_user.email,
		sys_user.`password`,
		sys_user.salt,
		sys_user.phone,
		sys_user.avatar,
		sys_user.wx_openid,
		sys_user.qq_openid,
		sys_user.organ_id,
		sys_user.create_time AS ucreate_time,
		sys_user.update_time AS uupdate_time,
		sys_user.del_flag AS udel_flag,
		sys_user.lock_flag AS lock_flag,
		sys_user.tenant_id,
		d.name AS organName
		FROM
		sys_user sys_user
		LEFT JOIN sys_organ AS d ON d.id = sys_user.organ_id
		<where>
			<if test="query.username != null and query.username != ''">
				and sys_user.username LIKE CONCAT('%',#{query.username},'%')
			</if>
			<if test="query.organId != null and query.organId != ''">
				and sys_user.organ_id IN (SELECT `descendant` FROM `sys_organ_relation` WHERE `ancestor` =
				#{query.organId})
			</if>
		</where>
		ORDER BY sys_user.create_time DESC
	</select>

</mapper>
