<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2018-2019
  ~ All rights reserved, Designed By www.aiforest.com
  ~ 注意：
  ~ 本软件为www.aiforest.com开发研制，未经购买不得使用
  ~ 购买后可获得全部源代码（禁止转卖、分享、上传到码云、github等开源平台）
  ~ 一经发现盗用、分享等行为，将追究法律责任，后果自负
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aiforest.cloud.estate.admin.mapper.NewsTrendsMapper">

    <resultMap id="newsTrendsMap" type="com.aiforest.cloud.estate.common.entity.NewsTrends">
        <id property="id" column="id"/>
		<result property="ordinal" column="ordinal"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createId" column="create_id"/>
        <result property="title" column="title"/>
        <result property="category" column="category"/>
        <result property="thumbnail" column="thumbnail"/>
        <result property="details" column="details"/>
		<result property="type" column="type"/>
		<result property="articleLink" column="article_link"/>
		<result property="views" column="views"/>
        <result property="sort" column="sort"/>
		<result property="affiliation" column="affiliation"/>
		<result property="affiliationId" column="affiliation_id"/>
    </resultMap>

    <sql id="newsTrendsSql">
        news_trends.`id`,
        news_trends.`ordinal`,
        news_trends.`tenant_id`,
        news_trends.`del_flag`,
        news_trends.`create_time`,
        news_trends.`update_time`,
        news_trends.`create_id`,
        news_trends.`title`,
        news_trends.`category`,
        news_trends.`thumbnail`,
        news_trends.`details`,
        news_trends.`type`,
        news_trends.`article_link`,
        news_trends.`views`,
        news_trends.`sort`,
        news_trends.`affiliation`,
        news_trends.`affiliation_id`
   </sql>

	<update id="addViews">
		update news_trends set views=views+1 where id=#{id}
    </update>

</mapper>
