<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2018-2019
  ~ All rights reserved, Designed By www.aiforest.com
  ~ 注意：
  ~ 本软件为www.aiforest.com开发研制，未经购买不得使用
  ~ 购买后可获得全部源代码（禁止转卖、分享、上传到码云、github等开源平台）
  ~ 一经发现盗用、分享等行为，将追究法律责任，后果自负
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aiforest.cloud.estate.admin.mapper.PopUpAdsMapper">

    <resultMap id="popUpAdsMap" type="com.aiforest.cloud.estate.common.entity.PopUpAds">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createId" column="create_id"/>
        <result property="picUrls" column="pic_urls"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="autohide" column="autohide"/>
        <result property="timeWrap" column="time_wrap"/>
        <result property="enable" column="enable"/>
    </resultMap>

    <sql id="popUpAdsSql">
        pop_up_ads.`id`,
        pop_up_ads.`tenant_id`,
        pop_up_ads.`create_time`,
        pop_up_ads.`update_time`,
        pop_up_ads.`create_id`,
        pop_up_ads.`pic_urls`,
        pop_up_ads.`start_time`,
        pop_up_ads.`end_time`,
        pop_up_ads.`autohide`,
        pop_up_ads.`time_wrap`,
        pop_up_ads.`enable`
    </sql>

</mapper>
